{% extends 'main.html' %}

{% block content %}
  <div class="container">
    <h1>Login</h1>
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        {{ form.username }}
        {% if form.username.errors %}
          <div class="invalid-feedback">
            {% for error in form.username.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        {{ form.password }}
        {% if form.password.errors %}
          <div class="invalid-feedback">
            {% for error in form.password.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <div class="mt-3">
      <span class="text-muted ">Don't have an account?</span>
    </div>
    <a href="{% url 'register' %}">Register</a>
  </div>
  
{% endblock %}