/* TOP NAVBAR */
.top-navbar{
    width: 85% !important;
    margin-left: 15%;
}

.top-navbar-container{
    margin-left: 3% !important;
}


/* LEFT NAVBAR */
.left-bar{
    width: 15% !important;
    border-right: 1px solid #dee2e6 !important;
    
}

.left-bar-title{
    font-family: "Croissant One", serif;
    font-size: 25px;
    color: #2196F3 !important;
    padding-left: 0 !important;
}


/* CENTER CONTAINER */
.center-container{
    width: 85% !important;
    margin-top: 4% !important;
}


@media only screen and (max-width: 767px) {
    .top-navbar{
        width: 100% !important;
        margin-left: 0%;
    }
    
    .top-navbar-container{
        margin-left: 0% !important;
    }
    
    .left-bar{
        width: 20% !important;
    }
    
    .center-container{
        width: 100% !important;
    }
}