{% load static %}
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Airsapa - Air Quality Dashboard">
  <meta name="author" content="Takibay Sultan">
  
  <title>Airsapa | Air Quality Dashboard</title>
  
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">
  
  <!-- Google Fonts -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700,900">
  
  <!-- Icons -->
  <link href="{% static 'assets/css/nucleo-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/nucleo-svg.css' %}" rel="stylesheet">
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  
  <!-- Material Icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0">
  
  <!-- CSS Files -->
  <link id="pagestyle" href="{% static 'assets/css/material-dashboard.css' %}" rel="stylesheet">
</head>

<body class="landing-page bg-gray-200">
  <!-- Navbar -->
  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg blur border-radius-xl top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
                <div class="container-fluid px-0">
                    <a class="navbar-brand font-weight-bolder ms-sm-3 d-none d-md-block" href="{% url 'landing' %}" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
                        Airsapa
                    </a>
                    <a class="navbar-brand font-weight-bolder ms-sm-3 d-block d-md-none" href="{% url 'landing' %}" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
                        Airsapa
                    </a>
                    <a href="{% url 'login' %}" class="btn btn-sm bg-gradient-dark mb-0 ms-auto d-lg-none d-block">Login</a>
                    <button class="navbar-toggler shadow-none ms-2 ms-md-0" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon mt-2">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </span>
                    </button>
                    <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
                        <ul class="navbar-nav navbar-nav-hover ms-auto">
                            <li class="nav-item d-flex align-items-center mx-2">
                                <a href="{% url 'contact' %}" role="button" class="nav-link ps-2 d-flex cursor-pointer align-items-center">
                                    Contact
                                </a>
                            </li>
                            <li class="nav-item d-flex align-items-center mx-2">
                                <a href="{% url 'about' %}" role="button" class="nav-link ps-2 d-flex cursor-pointer align-items-center">
                                    About
                                </a>
                            </li>
                            <li class="nav-item d-flex align-items-center mx-2">
                                <a href="{% url 'faq' %}" role="button" class="nav-link ps-2 d-flex cursor-pointer align-items-center">
                                    FAQ
                                </a>
                            </li>
                            <li class="nav-item d-flex align-items-center mx-2">
                                <a href="{% url 'login' %}" role="button" class="nav-link ps-2 d-flex cursor-pointer align-items-center">
                                    Login
                                </a>
                            </li>
                            <li class="nav-item d-flex align-items-center mx-2">
                                <a href="{% url 'register' %}" role="button" class="nav-link ps-2 d-flex cursor-pointer align-items-center">
                                    Register
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>




  <header>
    <div class="page-header min-vh-65">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 position-relative z-index-1">
            <div class="d-flex align-items-center">
              <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.5714 7.07812C18.5714 7.24182 18.4747 7.42039 18.2813 7.61384L14.2299 11.5647L15.1897 17.1451C15.1972 17.1972 15.2009 17.2716 15.2009 17.3683C15.2009 17.5246 15.16 17.6548 15.0781 17.7589C15.0037 17.8705 14.8921 17.9263 14.7433 17.9263C14.6019 17.9263 14.4531 17.8817 14.2969 17.7924L9.28571 15.1585L4.27455 17.7924C4.11086 17.8817 3.96205 17.9263 3.82813 17.9263C3.67188 17.9263 3.55283 17.8705 3.47098 17.7589C3.39658 17.6548 3.35938 17.5246 3.35938 17.3683C3.35938 17.3237 3.36682 17.2493 3.3817 17.1451L4.34152 11.5647L0.279018 7.61384C0.093006 7.41295 0 7.23437 0 7.07812C0 6.80283 0.208333 6.6317 0.625 6.56473L6.22768 5.75L8.73884 0.671874C8.88021 0.366815 9.0625 0.214285 9.28571 0.214285C9.50893 0.214285 9.69122 0.366815 9.83259 0.671874L12.3438 5.75L17.9464 6.56473C18.3631 6.6317 18.5714 6.80283 18.5714 7.07812Z" fill="#EC407A" />
              </svg>
              <p class="text-primary font-weight-bold mb-0 ms-2">
                Top Quality | Free Dashboard
              </p>
            </div>
            <h1>Airsapa</h1>
            <p class="text-lg mt-3">
              Welcome to the Air Quality Dashboard! This platform provides real-time data on air quality across various locations. 
            </p>
          </div>



          <svg class="position-absolute top-0" width="1231" height="1421" viewBox="0 0 1231 1421" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.12786" filter="url(#filter0_f_31_15)">
              <ellipse cx="811.5" cy="602.5" rx="675.5" ry="682.5" fill="url(#paint0_linear_31_15)" />
            </g>
            <defs>
              <filter id="filter0_f_31_15" x="0.085907" y="-215.914" width="1622.83" height="1636.83" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                <feGaussianBlur stdDeviation="67.957" result="effect1_foregroundBlur_31_15" />
              </filter>
              <linearGradient id="paint0_linear_31_15" x1="804.405" y1="-136.203" x2="160.281" y2="643.776" gradientUnits="userSpaceOnUse">
                <stop stop-color="#7B4CFF" />
                <stop offset="0.469471" stop-color="#EC407A" />
                <stop offset="1" stop-color="white" />
              </linearGradient>
            </defs>
          </svg>

          <img class="position-absolute top-0 mt-n7 me-n12 end-0 w-70 z-index-3" src="../assets/img/perspective.png" alt="header-image">
        </div>
      </div>
    </div>
  </header>





  
  <div class="card card-body mx-3 mx-md-4 mt-n6 z-index-1 position-relative">
   

    <section class="pt-3 pb-4" id="stats">
      <div class="container mt-2">
        <h4>Why Choose Us?</h4>
        <p>
          Our mission is simple: to provide clear, accessible air quality information to help you live a healthier life. Our easy-to-use platform is designed to inform, guide, and empower you.
        </p>
      </div>
      <div class="container mt-5">
        <h4>Join Thousands of Healthy Breathers</h4>
        <p>
          Stay informed about the air around you, and take control of your health. Sign up now for personalized notifications and data-driven insights.
        </p>
      </div>
    </section>

  </div>
  

  <footer class="footer pt-5 mt-5">
    <div class="container">
      <div class="row">
        <p class="text-center text-dark my-4 text-sm font-weight-normal">
          All rights reserved. Copyright © <script>
            document.write(new Date().getFullYear())
          </script> Designed by <a href="https://sultanti.web.app" target="_blank">Sultan Takibay</a>.
        </p>
      </div>
    </div>
  </footer>






  
  <!--   Core JS Files   -->
  <script src="{% static 'assets/js/core/popper.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'assets/js/core/bootstrap.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'assets/js/plugins/perfect-scrollbar.min.js' %}"></script>
  <!--  Plugin for TypedJS, full documentation here: https://github.com/inorganik/CountUp.js -->
  <script src="{% static 'assets/js/plugins/countup.min.js' %}"></script>
  <script type="text/javascript">
    if (document.getElementById('stats1')) {
      const countUp = new CountUp('stats1', document.getElementById("stats1").getAttribute("countTo"));
      if (!countUp.error) {
        countUp.start();
      } else {
        console.error(countUp.error);
      }
    }
    if (document.getElementById('stats2')) {
      const countUp1 = new CountUp('stats2', document.getElementById("stats2").getAttribute("countTo"));
      if (!countUp1.error) {
        countUp1.start();
      } else {
        console.error(countUp1.error);
      }
    }
    if (document.getElementById('stats3')) {
      const countUp2 = new CountUp('stats3', document.getElementById("stats3").getAttribute("countTo"));
      if (!countUp2.error) {
        countUp2.start();
      } else {
        console.error(countUp2.error);
      };
    }
    if (document.getElementById('stats4')) {
      const countUp3 = new CountUp('stats4', document.getElementById("stats4").getAttribute("countTo"));
      if (!countUp3.error) {
        countUp3.start();
      } else {
        console.error(countUp3.error);
      };
    }

    const copyButton = document.getElementById("copy-code");

    copyButton.addEventListener("click", function() {
      const textToCopy = copyButton.parentElement.textContent;
      navigator.clipboard.writeText(textToCopy)
        .then
        .catch(err => console.error("Error copying text: ", err));
    });
  </script>
  <!-- Control Center for Material UI Kit: parallax effects, scripts for the example pages etc -->
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script>
  <script src="{% static 'assets/js/material-dashboard.min.js' %}" type="text/javascript"></script>
</body>

</html>